amqp==5.1.0
asgiref==3.5.0
billiard==3.6.4.0
celery==5.2.3
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.0
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cryptography==36.0.2
defusedxml==0.7.1
Django==4.0.7
django-user-agents==0.4.0
django-widget-tweaks==1.4.12
idna==3.3
kombu==5.2.4
oauthlib==3.2.0
prompt-toolkit==3.0.28
pycparser==2.21
PyJWT==2.3.0
python-decouple==3.6
python3-openid==3.2.0
pytz==2022.1
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
six==1.16.0
social-auth-app-django==5.0.0
social-auth-core==4.2.0
sqlparse==0.4.2
style==1.1.0
ua-parser==0.10.0
update==0.0.1
urllib3==1.26.9
user-agents==2.2.0
vine==5.0.0
wcwidth==0.2.5
